extends layout

block content
  h2 Welcome, #{user.name}!
  div(id='userForms')
    h3 Change Personal Info
    form(id="editUserInfo", method="post", action="/editInfo")
      input(type="hidden" name="id" value=user.id)  
      label(for="newEmail") Email:
      input(type="text" name = "newEmail" placeholder="Email" value=user.email)
      br
      label(for="newAge") Age:
      input(type="number" name = "newAge" value=user.age)
      br
      input(type='submit', value='Update my information!')
  
    h3 Change Answers
    form(id="editUserAnswers", method="post", action="/editAnswers")
      input(type="hidden" name="id" value=user.id)
      label(for="Q1") What do you like more?
      select(name = "Q1")
        option(value="1") Sushi
        option(value="2") Pizza
        option(value="3") World Domination
        option(value="4") A Good Book
      br
      label(for="Q2") Who's the better cook?
      select(name = "Q2")
        option(value="1") Gordon Ramsay
        option(value="2") Julia Child
        option(value="3") Alton Brown
        option(value="4") Bobby Flay
      br
      label(for="Q3") Where would you like to live?
      select(name = "Q3")
        option(value="1") The Bahamas
        option(value="2") Iceland
        option(value="3") The Land Down Undah
        option(value="4") At The Bottom of a Well
      br
      input(type='submit', value='Update my answers!')
    
    h3 Change Password
    form(id="editUserPassword", method="post", action="/editPassword")
      input(type="hidden" name="id" value=user.id)  
      label(for="oldPassword") Old Password:
      input(type="password" name = "oldPassword" placeholder="Password")
      br
      label(for="newPassword") New Password:
      input(type="password" name = "newPassword" placeholder="Password")
      br
      label(for="confirmPassword") Confirm Password:
      input(type="password" name = "confirmPassword" placeholder="Confirm Password")
      br
      input(type='submit', value='Update my password!')